# Build / temp files
_build*
_test*
*.pyc
__pycache__/
*.pyo
*.swp
*.swo
*~
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Env
.env
.env.local

# Dependencies
node_modules/
.pnp
.pnp.js
_check*
_fix*
_debug*